{{yield}}

<div class="row">
  <div class="container">
    <h6><span class="label label-info label-lg">{{listing.category.name}}</span></h6>
    <h4><span class="label label-default label-lg">{{listing.name}}</span></h4>
    <div class="row" style="margin-left:3em;">
      {{listing.info}}
    </div>
  </div>
</div>
