{{outlet}}

{{mock-newlisting-tile categories=model.categories addListing="addListing" didMakeSelection="didMakeSelection"}}

<div class="row">
  <div class="col-xs-2 col-xs-offset-2">
    <h2>Categories</h2>
    <div class="well">
      {{#each model.categories as |c|}}
        {{mock-category-tile category=c}}
      {{/each}}
    </div>
  </div>
  <div class="col-xs-6">
    <h2>Top Listings</h2>
    <div class="well">
      {{#each model.listings as |l|}}
        {{mock-listing-tile listing=l}}
      {{/each}}
    </div>
  </div>
</div>
